<div class="row justify-content-center mt-5">
  <div class="col-sm-8 col-md-5 col-lg-4">
    <div class="card border-0 shadow">
      <div class="card-body py-5">
        <h2 class="card-title fw-bold fs-5">Sign up</h2>

        <%= form_with(model: @user, local: true) do |form| %>
          <%= render 'form_errors' %>

          <div class="row">
            <div class="col-12 mb-3">
              <%= form.label :name %>
              <%= form.text_field :name, class: "form-control", required: true, placeholder: 'e.g John Doe' %>
            </div>

            <div class="col-12 mb-3">
              <%= form.label :email %>
              <%= form.email_field :email, class: "form-control", required: true, placeholder: 'e.g example@email.com' %>
            </div>

            <div class="col-12">
              <%= form.submit 'Sign up', class: "btn btn-primary shadow-sm px-5", require: true %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
