<div class="mt-5">
  <h1 class="fw-bold fs-5 text-primary"><%= @user.name %>'s Events</h1>
</div>

<div class="row">
  <div class="col-md-9 mb-5">
    <div class="row">
      <% for event in @user.events %>
      <div class="col-sm-6 col-lg-4">
        <%= render 'events/event_card', :event => event %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <h6 class="fw-bold fs-5">Invited Events</h6>
    <ul class="list-group list-group-flush">
      <% for event in @user.invites %>
      <li class="list-group-item pl-0">
        <p class="lh-1 mb-0">
          <%= link_to event_path(event), class: 'text-decoration-none' do %>
            <%= event.name %>
          <% end %>
        </p>
        <span class="text-muted fs-13 fw-light fst-italic"><%= event.date %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>
