<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1"><%= @event.name %></h5>
        <h6 class="card-subtitle text-primary fw-light fs-14"><%= @event.date %></h6>
        <p class="card-text mt-3"><%= @event.description %></p>

        <hr>

        <div class="d-flex flex-row align-items-center justify-content-between">
          <%= link_to 'Back to Events', events_path %>
          <div>
            <%= link_to user_path(@event.creator), class: 'card-link text-muted text-decoration-none' do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
              </svg>
            <% end %>
            <%= creator_actions(@event) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
