<div class="row justify-content-center mt-5">
  <div class="col-md-8 col-lg-6 mb-5 mb-md-0">
    <div class="card border-3">
      <div class="card-body">
        <h5 class="card-title">Date: <%= @event.name %></h5>

        <p class="text-muted">
          <b class="fw-bold">Date:</b> <i><%= @event.date %></i> <br>
          <b class="fw-bold">Location:</b> <i><%= @event.location %></i>
        </p>

        <p class="card-text mt-3"><%= @event.description %></p>

        <hr>

        <div class="d-flex flex-row align-items-center justify-content-between">
          <%= link_to 'Back to Events', events_path %>
          <div>
            <%= link_to user_path(@event.creator), class: 'card-link fw-light fs-14 text-muted text-decoration-none' do %>
              <%= @event.creator.name %>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle ml-1" viewBox="0 0 16 16">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
              </svg>
            <% end %>
            <%= creator_actions(@event) %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 fw-bold text-success">
      <%= join_button(@event) %>
    </div>
  </div>

  <div class="col-md-4 col-lg-3">
    <h6 class="fs-5 fw-bold">Attendees</h6>

    <%= render 'invite_form' %>

    <ul class="list-group list-group-flush">
      <% for attendee in @event.attendees %>
      <li class="list-group-item pl-0">
        <%= attendee.name %>

        <%= cancel_button(attendee) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
